.main {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.files {
    width: 33%;
}

.editor {
    width: 33%;
}

.output {
    width: 33%;
}